In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\User\Downloads\Train.csv')
Test = pd.read_csv(r'C:\Users\User\Downloads\Test.csv')
Sample = pd.read_csv(r'C:\Users\User\Downloads\Sample.csv')

FileNotFoundError: [Errno 2] File C:\Users\User\Downloads\Train.csv does not exist: 'C:\\Users\\User\\Downloads\\Train.csv'

In [4]:
df.head()

NameError: name 'df' is not defined

In [4]:
Test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df['Gender'].value_counts()
df['Gender'] = df['Gender'].replace(np.nan,'Male')

In [7]:
df['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [8]:
df['Married'] =df['Married'].replace(np.nan,'Yes')

In [9]:
df['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [10]:
df['Dependents'] = df['Dependents'].replace(np.nan,0)

In [11]:
df['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [12]:
df['Self_Employed'] =df['Self_Employed'].replace(np.nan,'No')

In [13]:
df['LoanAmount'].mean()

146.41216216216216

In [14]:
df['LoanAmount'] =df['LoanAmount'].replace(np.nan,146.41)

In [15]:
df['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [16]:
df['Loan_Amount_Term'] =df['Loan_Amount_Term'].replace(np.nan,360.0)

In [17]:
df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [18]:
df['Credit_History'] = df['Credit_History'].replace(np.nan,1.0)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null object
Married              614 non-null object
Dependents           614 non-null object
Education            614 non-null object
Self_Employed        614 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [20]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [21]:
Test.shape

(367, 12)

In [22]:
Test['Gender'].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [23]:
Test['Gender'] = Test['Gender'].replace(np.nan,'Male')

In [24]:
Test['Dependents'].value_counts()

0     200
2      59
1      58
3+     40
Name: Dependents, dtype: int64

In [25]:
Test['Dependents'] = Test['Dependents'].replace(np.nan,0)

In [26]:
Test['Self_Employed'].value_counts()

No     307
Yes     37
Name: Self_Employed, dtype: int64

In [27]:
Test['Self_Employed'] =Test['Self_Employed'].replace(np.nan,'No')

In [28]:
Test['LoanAmount'].mean()

136.13259668508286

In [29]:
Test['LoanAmount'] =Test['LoanAmount'].replace(np.nan,136.13)

In [30]:
Test['Loan_Amount_Term'].value_counts()

360.0    311
180.0     22
480.0      8
300.0      7
240.0      4
84.0       3
6.0        1
120.0      1
36.0       1
350.0      1
12.0       1
60.0       1
Name: Loan_Amount_Term, dtype: int64

In [31]:
Test['Loan_Amount_Term'] =Test['Loan_Amount_Term'].replace(np.nan,360.0)

In [32]:
Test['Credit_History'].value_counts()

1.0    279
0.0     59
Name: Credit_History, dtype: int64

In [33]:
Test['Credit_History'] = Test['Credit_History'].replace(np.nan,1.0)

In [34]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               367 non-null object
Married              367 non-null object
Dependents           367 non-null object
Education            367 non-null object
Self_Employed        367 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           367 non-null float64
Loan_Amount_Term     367 non-null float64
Credit_History       367 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [35]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.41,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.00,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.00,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.00,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.00,360.0,1.0,Urban,Y

In [36]:
df['Gender'] =df['Gender'].map({'Male':1,'Female':0})
df['Married'] = df['Married'].map({'Yes':1,'No':0})
df['Education'] = df['Education'].map({'Graduate':1,'Not Graduate':0})
df['Self_Employed'] = df['Self_Employed'].map({'No':0,'Yes':1})
df['Property_Area'] = df['Property_Area'].map({'Rural':0,'Semiurban':1,'Urban':2})
df['Dependents'] = df['Dependents'].replace('3+',4)
df['Loan_Status'] = df['Loan_Status'].map({'Y':1,'N':0})

In [37]:
Test['Gender'] =Test['Gender'].map({'Male':1,'Female':0})
Test['Married'] = Test['Married'].map({'Yes':1,'No':0})
Test['Education'] = Test['Education'].map({'Graduate':1,'Not Graduate':0})
Test['Self_Employed'] = Test['Self_Employed'].map({'No':0,'Yes':1})
Test['Property_Area'] = Test['Property_Area'].map({'Rural':0,'Semiurban':1,'Urban':2})
Test['Dependents'] = Test['Dependents'].replace('3+',4)

In [38]:
Test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,1,0,5720,0,110.0,360.0,1.0,2
1,LP001022,1,1,1,1,0,3076,1500,126.0,360.0,1.0,2
2,LP001031,1,1,2,1,0,5000,1800,208.0,360.0,1.0,2
3,LP001035,1,1,2,1,0,2340,2546,100.0,360.0,1.0,2
4,LP001051,1,0,0,0,0,3276,0,78.0,360.0,1.0,2

In [39]:
df['LoanAmount'] = (df['LoanAmount']-df['LoanAmount'].min())/(df['LoanAmount'].max()-df['LoanAmount'].min())
df['ApplicantIncome'] = (df['ApplicantIncome']-df['ApplicantIncome'].min())/(df['ApplicantIncome'].max()-df['ApplicantIncome'].min())
df['CoapplicantIncome'] = (df['CoapplicantIncome']-df['CoapplicantIncome'].min())/(df['CoapplicantIncome'].max()-df['CoapplicantIncome'].min())

In [40]:
X = df.copy()
X.drop(['Loan_Status','Loan_ID'],axis =1,inplace =True)
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,1,0,0.070489,0.000000,0.198857,360.0,1.0,2
1,1,1,1,1,0,0.054830,0.036192,0.172214,360.0,1.0,0
2,1,1,0,1,1,0.035250,0.000000,0.082489,360.0,1.0,2
3,1,1,0,0,0,0.030093,0.056592,0.160637,360.0,1.0,2
4,1,0,0,1,0,0.072356,0.000000,0.191027,360.0,1.0,2

In [41]:
Y = df['Loan_Status']

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state =2)

In [43]:
from sklearn.linear_model import LogisticRegression
Lr = LogisticRegression().fit(X_train,Y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [44]:
yhat = Lr.predict(X_test)

In [45]:
Yhat = Lr.predict(X_train)

In [47]:
from sklearn.metrics import jaccard_similarity_score
Accuracy = jaccard_similarity_score(Y_test,yhat)
print(Accuracy)

0.7723577235772358

C:\Users\User\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:635: DeprecationWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  'and multiclass classification tasks.', DeprecationWarning)

0.8187372708757638

C:\Users\User\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:635: DeprecationWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  'and multiclass classification tasks.', DeprecationWarning)

In [49]:
Test['LoanAmount'] = (Test['LoanAmount']-Test['LoanAmount'].min())/(Test['LoanAmount'].max()-Test['LoanAmount'].min())
Test['ApplicantIncome'] = (Test['ApplicantIncome']-Test['ApplicantIncome'].min())/(Test['ApplicantIncome'].max()-Test['ApplicantIncome'].min())
Test['CoapplicantIncome'] = (Test['CoapplicantIncome']-Test['CoapplicantIncome'].min())/(Test['CoapplicantIncome'].max()-Test['CoapplicantIncome'].min())

In [50]:
X1 = Test.iloc[:,1:]
X1.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,1,0,0.078865,0.000000,0.157088,360.0,1.0,2
1,1,1,1,1,0,0.042411,0.062500,0.187739,360.0,1.0,2
2,1,1,2,1,0,0.068938,0.075000,0.344828,360.0,1.0,2
3,1,1,2,1,0,0.032263,0.106083,0.137931,360.0,1.0,2
4,1,0,0,0,0,0.045168,0.000000,0.095785,360.0,1.0,2

In [51]:
Predicted = Lr.predict(X1)

In [52]:
Test['Loan_Status'] = pd.Series(Predicted)

In [53]:
Final = Test.iloc[:,[0,12]]
Final.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            1
4  LP001051            1

In [54]:
Final['Loan_Status'] = Final['Loan_Status'].map({1:'Y',0:'N'})
Final.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [55]:
Final.to_csv(r'C:\Users\User\Downloads\Final.csv')